.modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(78, 76, 76, 0.7);
}
.custom-modal {
  background-color: white;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
  z-index: 3;
  width: 500px;
  height: 300px;
  position: absolute;
  border-radius: 10px;
}
.modal-snack-name {
  color: red;
  text-decoration: underline;
  font-style: italic;
}
.modal-img {
  width: 20%;
  height: auto;
}
.modal-buttons {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.modal-btn {
  margin-left: 15px;
}

.cancel-btn {
  background-color: darkgray;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  color: black;
  font-weight: bold;
  height: 40px;
}
.cancel-btn:hover {
  cursor: pointer;
  background-color: rgb(55, 53, 53);
  font-weight: bold;
  color: white;
}
.confirm-delete-btn {
  /* margin-left:20px; */
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  color: black;
  font-weight: bold;
  height: 40px;
}
.confirm-delete-btn:hover {
  cursor: pointer;
  background-color: crimson;
  font-weight: bold;
  color: white;
}
